---
layout: default
title: About
---
<section class='page_section'>
  <h2 class="title_about">О нас</h2>
  <div class="about_block">
    <div class="img_block">
      <img src="{{ site.baseurl }}/assets/img/about1.svg" alt="about">
    </div>
    <aside class="about_blocks">
      {% for block in site.data.promo-blocks %}
        <div class="block">{{ block.content | markdownify }}</div>
      {% endfor %}
    </aside>
  </div>
  <div class="questions_block">
    <div class="question">
      <h3>Вопросы</h3>
      {% for question in site.data.questions %}
        <div class="question_contet">
          <h4>{{question.title}}</h4>
          {{question.content | markdownify }}
        </div>
      {% endfor %}
    </div>
    <div class="contacts">
      <h3>Контакты</h3>
      <div class="contact_block">
        <div class="blocks_with_contact">
          {% include contact.html %}
        </div>
      </div>
    </div>

  </div>
</section>
