---
layout: default
title: Clients
---
<section class="page_section">
  <h2>Наши клиенты</h2>
  <div class="clients_block">
    {% for client in site.data.promo-clients %}
      <div class="client_block">
        <img src="{{ site.baseurl }}/assets/img/clients/{{ client.image }}" alt="{{ client.title }}">
        {{ client.content | markdownify }}
      </div>
    {% endfor %}

  </div>
  <!-- Load More Button -->
   <div id="loadmore" >Показать еще <span><img src="{{ site.baseurl }}/assets/img/arrow.svg">  </span></div>
</section>
<section class="page_section">
  <h3>Отзывы о нашей работе</h3>
  <div class="testimonials_block">
    {% for item in site.data.testimonials %}
      <div class="testimonial_block">
        <div class="user">
          <img src="{{ site.baseurl }}/assets/img/testimonials/{{ item.image }}" alt="">
          <p>
            {{ item.name }}
            <span>{{ item.position }}</span>
          </p>
        </div>
        <h4>{{ item.title }}</h4>
        {{ item.content | markdownify }}
      </div>
    {% endfor %}
    <div class="testimonial_block">
        <p>Здесь может быть Ваш отзыв</p>
    </div>
  </div>
</section>
