---
layout: default
title: Main page
---
<section>
  <div class="promo_block">
    <div class="promo_text">
      {% for promo in site.data.promo-text %}
        <h1>{{ promo.title }}</h1>
        {{ promo.content | markdownify }}
    </div>
    <div class="promo_img">

      <img src="{{ site.baseurl }}/assets/img/{{ promo.image }}" alt="{{ promo.title }}">
    </div>
    {% endfor %}
  </div>
  <div class="blocks">
    {% for block in site.data.promo-blocks %}
      <div class="block">{{ block.content | markdownify }}</div>
    {% endfor %}
  </div>
  {% include technology.html %}
</section>

<section>
  <h2>Сервисы</h2>
  <div class="tabs_block">
    <ul class="tabs">
      {% for link in site.data.promo-services %}
        {% if forloop.first == true %}
        <li class="active">
          <a href="">{{ link.link }}</a>
        </li>
        {% else %}
        <li>
          <a href="">{{ link.link }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
    <div class="tabs-content">
      {% assign count = 0 %}
      {% for service in site.data.promo-services %}
        {% if forloop.first == true %}
          <div class="tabs-panel active" data-index="{{ count }}">
            <h3>{{ service.title }}</h3>
            {{ service.content | markdownify }}
          </div>
        {% else %}
        {% capture count %}{{ count | plus:1 }}{% endcapture %}
          <div class="tabs-panel" data-index="{{ count }}">
            <h3>{{ service.title }}</h3>
            {{service.content | markdownify }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
<section>
  <h2>Наши клиенты</h2>
  <div class="clients_main_block">
    <div class="clients">
      {% for client in site.data.promo-clients %}
        <div class="tech">
          <img src="{{ site.baseurl }}/assets/img/clients/{{ client.image }}" alt="{{ client.title }}">
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<section>
  <h2>Контакты</h2>
  <div class="info_block">
    <div class="contact_block">
      {% include contact.html %}
    </div>
    <div class="map_block">
      <div id="map"></div>
    </div>
  </div>
</section>
