---
layout: default
title: Services
---
<section class='page_section'>
  <h2>Сервисы</h2>

  <div class="services_blocks">
    {% for service in site.data.promo-services %}
      <div class="service_block">
        <div class="service_img">
          <img src="{{ site.baseurl }}/assets/img/services/{{ service.image }}" alt="{{ service.title }}">
        </div>
        <div class="service_text">
            <h3>{{ service.title }}</h3>
            {{ service.content | markdownify }}
        </div>
      </div>
    {% endfor %}
  </div>

</section>
<section>
  <div class="technology_block">
    <h3>Мы используем технологии</h3>
    <div class="technologies">
      {% for tech in site.data.technology %}
      <div class="tech">
          <img src="{{ site.baseurl }}/assets/img/{{ tech.image }}" alt="{{ tech.title }}">
          <span>{{ tech.title }}</span>
          <!-- <a href="#">{{ tech.title }}</a> -->
      </div>
      {% endfor %}
    </div>
  </div>
</section>
