<footer>
  <div class="container">
    <section class="footer">
      <div class="logo">
        <img src="{{ site.baseurl }}/assets/img/logo_Socket.svg" alt="logo">
      </div>
      {% include nav-footer.html navclass='nav-footer' %}

      <div class="footer_icon">
        <ul>
          <li><a href="#"><img src="{{site.baseurl}}/assets/img/facebook.svg" alt="facebook"></a></li>
          <li><a href="#"><img src="{{site.baseurl}}/assets/img/twitter.svg" alt="twitter"></a></li>
          <li><a href="#"><img src="{{site.baseurl}}/assets/img/instagram.svg" alt="instagram"></a></li>
        </ul>
      </div>
    </section>
    <div class="copyright">
      <span>&copy; 2021 Все права защищены.</span>
    </div>
  </div>
</footer>
