<footer>
  <div class="container">
    <div class="footer">
      <div class="logo">
        <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/img/logo_Socket.svg" alt="logo"></a>
      </div>
      {% include nav.html navclass='nav-footer' %}
      <div class="footer_icon">
        <ul>
          {% for link in site.data.social %}
            <li><a href="{{ link.link }}" target="_blank"><img src="{{site.baseurl}}/assets/img/{{ link.image }}" alt="{{link.title}}"></a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="copyright">
      <span>&copy; 2021 Все права защищены.</span>
    </div>
  </div>
</footer>
