<a class="toggleMainNav" href="javascript:" title="show navigation">
    <!--  the famous burger  -->
    <div id="hamburger">
        <em class="line"></em>
        <em class="line"></em>
        <em class="line"></em>
    </div>
</a>
<nav class="{{ include.navclass }}">

  <ul class="menu mainNavList">
    <li><a href="{{ site.baseurl }}/services.html" class="{% if page.url=='/services.html'%}current {%  endif %}">Сервисы</a></li>
    <li><a href="{{ site.baseurl }}/clients.html" class="{% if page.url=='/clients.html'%}current {%endif %}">Наши клиенты</a></li>
    <li><a href="{{ site.baseurl }}/about.html" class="{% if page.url=='/about.html'%}current {%endif %}">О нас</a></li>
  </ul>
</nav>
