.clients_block{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 82px;
  grid-row-gap: 100px;
  margin-top: 70px;

  .client_block {

    img {
      margin: 0 auto 30px;
    }
    p{
      @include rem(18);
      line-height: 28px;
      font-weight: 400;
    }
  }
}
.testimonials_block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-top: 50px;
  .testimonial_block{
    @include rounded(10px);
    background-color: $footer_color__background;
    padding: 40px 34px;
    height: 386px;

    p{
      @include rem(18);
      font-weight: 400;
      line-height: 28px;
    }
    .user{
      display: flex;
      align-items: center;
      img {
        margin-right: 20px;

      }
      p{
        @include rem(16);
        font-weight: 400;
      }
      span{
        display: block;
        @include rem(14);
        font-weight: 400;
        color: $span_color__text;
        margin-top: 4px;

      }

    }
    h3{
      margin-top: 20px;
      margin-bottom: 10px;
      font-weight: 500;
      @include rem(18);
      line-height: 28px;
      &:before{
        content: '';
        border: 2px solid;
        position: relative;
        left: -34px;
        border-radius: 10px;
        color: $main_color__blue;
      }
    }
  }
}
