$main_color__background: #ffffff;
$main_color__blue: #005F9F;
$footer_color__background: #F6F6F6;
$block_color__background: rgba(246, 246, 246, 1);

$main_color__text: rgba(1, 30, 50, 1);
$invert_color__link: #ffffff;
$span_color__text: #879198;

$white_color: #ffffff;
