$main_color__background: rgba(255, 255, 255, 1);
$main_color__blue: rgba(0, 95, 159, 1);
$footer_color__background: rgba(246, 246, 246, 1);
$block_color__background: rgba(246, 246, 246, 1);
$main_color__text: rgba(1, 30, 50, 1);
$dark-grey_color__text: rgba(135, 145, 152, 1);
$invert_color__link: rgba(255, 255, 255, 1);
$span_color__text: rgba(135, 145, 152, 1);
$white_color: rgba(255, 255, 255, 1);
