header{
  padding-top: 40px;
  .logo {

  }
  .header {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navigation {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 666px;
    }
  }
}
