header{
  padding-top: 40px;

  .header {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    img {
      height: 80px;
    }
  }
}
