/* The top of a page */
.promo_block{
  margin-top: 100px;
  overflow: hidden;
  padding-bottom: 62px;

  .promo_text {
    float: left;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    h1{
      @include rem(70);
      font-weight: 500;
      line-height: 95px;
      margin-top: 62px;
      width: 60%;
      display: block;
    }
    p{
      @include rem(24);
      line-height: 37px;
      margin: 30px 0 0;
      width: 602px;
    }
  }
  .promo_img{
    float: right;
    overflow: hidden;
    width: 530px;
    align-self: center;
    position: relative;
  }
}
/* #The top of a page */
/* Intro blocks on the grey background. */
.blocks{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: .8em;
  grid-row-gap: 5em;
  margin: 50px 0 0;

  .block {
    background-color: $block_color__background;
    @include rounded(10px);
    padding: 50px 34px;
    display: grid;

    p{
      @include rem(20);
      font-weight: 400;
      line-height: 31px;

      &:before{
        content: '';
        border: 2px solid;
        position: relative;
        left: -34px;
        border-radius: 10px;
        color: $main_color__blue;
      }
    }

  }
}
/* Used technologies and the of clients*/
.technology_block{
  margin-top: 70px;
}
.clients_main_block {
  margin-top: 50px;
}
.technology_block,
.clients_main_block{

  h3{
    @include rem(40);
    line-height: 49px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  .technologies,
  .clients{
    display: grid;
    grid-row-gap: 80px;
    .tech {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      a,
      span{
          @include rem(28);
          line-height: 43px;
          font-weight: 400;
          color: $main_color__text;

      }
      a {
        &:hover {
          color: $main_color__blue;
        }
      }

    }
  }
  .technologies {
    .tech {
      a,span {
        margin-left: 20px;
      }
    }
  }
  .clients {
    .tech {
      a {
        margin-left: 0;
      }
    }
  }

  .technologies{
    grid-template-columns: repeat(4, 1fr);
  }
  .clients {
    grid-template-columns: repeat(5, 1fr);
  }
}
/* #Used technologies and the of clients*/
.info_block{
  display: grid;
  grid-template-columns: 398px repeat(3, 1fr);
  margin-top: 50px;
  grid-column-gap: 10px;

  .map_block{
    grid-column: span 3;
    @include rounded(10px);
    border: 1px solid $footer_color__background;
    overflow: hidden;
  }
}
.contact_block{
  .block{
    background-color: $block_color__background;
    @include rounded(10px);
    margin-bottom: 10px;
    padding: 0 34px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 54px 34px;

    &:last-child {
      margin: 0;
    }
    p,a{
      font-weight: 400;
      &:last-child{
        margin: 0;
      }
    }
    p{
      line-height: 29px;
      @include rem(20);
      margin-bottom: 27px;
      &:before{
        content: '';
        border: 2px solid;
        position: relative;
        left: -34px;
        border-radius: 10px;
        color: $main_color__blue;
      }
    }
    a {
      color: $main_color__blue;
      margin-bottom: 20px;

      &:visited{
        color: $main_color__blue;
      }
      &.contact_phone{
        //@include rem(32);
        font-size: calc(26px + 6 * (100vw / 1920));
        line-height: 39px;
        font-weight: 500;

      }
      &.contact_email {
        //@include rem(24);
        font-size: calc(14px + 10 * (100vw / 1920));
        line-height: 35px;
        width: 262px;
        font-weight: 400;
      }
    }
  }
}
