*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}
body{
  background-color: $main_color__background;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
}
img{
  display: block;
  height: auto;
  max-width: 100%;
}
ul,ol{
  list-style: none;
}
a {
  text-decoration: none;

}
header,
footer{
  flex: 0 0 auto;
}
.wrapper{
  /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 1 0 auto;
}
h2,
h3,h4{
  color: $main_color__blue;
}
.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
section {
  margin-bottom: 170px;
  h2 {
    @include rem(90);
    font-weight: 500;
  }
}
.page_section{
  margin-top: 80px;
  h2 {
    @include rem(70);
  }
}
#map{
  height: 100%;
}
input[type="text"],
input[type="email"],
textarea {
  display: block;
  @include rounded(6px);
  border: 1px solid #879198;
  margin-bottom: 24px;
  padding: 16px 10px;
  width: 398px;
}
input[type="submit"]{
  display: block;
  border-radius: 50px;
  border: none;
  background-color: $main_color__blue;
  font-weight: 600;
  width: 197px;
  height: 52px;
  color: $white_color;
  @include rem(16);
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 30px;
  cursor: pointer;

}
::-webkit-input-placeholder {color: $span_color__text; @include rem(16); line-height: 20px; font-weight: 500;} /* Chrome/Opera/Safari */
::-moz-placeholder { color: $span_color__text; @include rem(16); line-height: 20px; font-weight: 500;} /* Firefox 19+ */
:-ms-input-placeholder { color: $span_color__text; @include rem(16); line-height: 20px; font-weight: 500;} /* IE 10+ */
:-moz-placeholder {color: $span_color__text; @include rem(16); line-height: 20px; font-weight: 500;}  /* Firefox 18- */
