.nav-top {
  width: 441px;
  -webkit-transition: all .30s linear;
  -moz-transition: all .30s linear;
  -o-transition: all .30s linear;
  transition: all .30s linear;
  ul {
    justify-content: flex-end;
    li{
      display: block;
      margin-right: 40px;
      &:last-child{
        margin: 0;
      }
    }
  }
}
.nav-footer {
  width: 470px;
}
nav{
  ul.menu {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    align-items: center;

    li{
      display: block;
      margin-right: 40px;
    }
    a {
      @include rem(18);
      font-weight: 500;
      color: $main_color__text;
      &:hover {
        color: $main_color__blue;
      }
      &.current{
        color: $main_color__blue;
      }
    }
  }
}
