section{
  margin-bottom: 170px;
  .service_block{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 140px;
    .service_img{
      justify-self: center;
    }
    .service_text {
      h3{
        margin-bottom: 30px;
        @include rem(40);
        color: $main_color__text;
      }
      p{
        @include rem(18);
        line-height: 28px;
      }
    }
    &:nth-child(even){
      .service_img {
        order: 2;

      }
      .service_text {
        order: 1;

      }
    }
    &:nth-child(odd) {
      .service_img {
        order: 1;
      }
      .service_text {
        order: 2;
      }
    }
  }
}
